<a href="https://colab.research.google.com/github/sadVries/PRA3024/blob/main/part_0_introduction_to_python_programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Python programming

This lecture is a reduced version compiled from the following materials:

    J.R. Johansson (jrjohansson at gmail.com)
    The latest version of this IPython notebook lecture is available at http://github.com/jrjohansson/scientific-python-lectures.
    The other notebooks in this lecture series are indexed at http://jrjohansson.github.io.
    
    https://diveintopython3.problemsolving.io/
    
    https://www.dataquest.io/blog/jupyter-notebook-tutorial/

## Python program files

* Python code is usually stored in text files with the file ending "`.py`":

        myprogram.py

* Every line in a Python program file is assumed to be a Python statement, or part thereof.

    * The only exception is comment lines, which start with the character `#` (optionally preceded by an arbitrary number of white-space characters, i.e., tabs or spaces). Comment lines are usually ignored by the Python interpreter.


* To run our Python program from the command line we use:

        $ python myprogram.py

* On UNIX systems it is common to define the path to the interpreter on the first line of the program (note that this is a comment line as far as the Python interpreter is concerned):

        #!/usr/bin/env python

  If we do, and if we additionally set the file script to be executable, we can run the program like this:

        $ myprogram.py

## IPython notebooks

This file - an IPython notebook -  does not follow the standard pattern with Python code in a text file. Instead, an IPython notebook is stored as a file in the [JSON](http://en.wikipedia.org/wiki/JSON) format. The advantage is that we can mix formatted text, Python code and code output. It requires the IPython notebook server to run it though, and therefore isn't a stand-alone Python program as described above. Other than that, there is no difference between the Python code that goes into a program file or an IPython notebook.

## Modules

Most of the functionality in Python is provided by *modules*. The Python Standard Library is a large collection of modules that provides *cross-platform* implementations of common facilities such as access to the operating system, file I/O, string management, network communication, and much more.

### References

 * The Python Language Reference: http://docs.python.org/2/reference/index.html
 * The Python Standard Library: http://docs.python.org/2/library/

To use a module in a Python program it first has to be imported. A module can be imported using the `import` statement. For example, to import the module `math`, which contains many standard mathematical functions, we can do:

In [1]:
import math

This includes the whole module and makes it available for use later in the program. For example, we can do:

In [2]:
import math

x = math.cos(2 * math.pi)

print(x)

1.0

Alternatively, we can chose to import all symbols (functions and variables) in a module to the current namespace (so that we don't need to use the prefix "`math.`" every time we use something from the `math` module:

In [3]:
from math import *

x = cos(2 * pi)

print(x)

1.0

This pattern can be very convenient, but in large programs that include many modules it is often a good idea to keep the symbols from each module in their own namespaces, by using the `import math` pattern. This would elminate potentially confusing problems with name space collisions.

As a third alternative, we can chose to import only a few selected symbols from a module by explicitly listing which ones we want to import instead of using the wildcard character `*`:

In [4]:
from math import cos, pi

x = cos(2 * pi)

print(x)

1.0

### Looking at what a module contains, and its documentation

Once a module is imported, we can list the symbols it provides using the `dir` function:

In [5]:
import math

print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

And using the function `help` we can get a description of each function (almost .. not all functions have docstrings, as they are technically called, but the vast majority of functions are documented this way).

In [6]:
help(math.log)

Help on built-in function log in module math:

log(...)
    log(x, [base=math.e])
    Return the logarithm of x to the given base.

    If the base not specified, returns the natural logarithm (base e) of x.

In [7]:
log(10)

2.302585092994046

In [8]:
log(10, 2)

3.3219280948873626

We can also use the `help` function directly on modules: Try

    help(math)

Some very useful modules form the Python standard library are `os`, `sys`, `math`, `shutil`, `re`, `subprocess`, `multiprocessing`.

A complete lists of standard modules for Python 2 and Python 3 are available at http://docs.python.org/2/library/ and http://docs.python.org/3/library/, respectively.

## Variables and types

### Symbol names

Variable names in Python can contain alphanumerical characters `a-z`, `A-Z`, `0-9` and some special characters such as `_`. Normal variable names must start with a letter.

By convention, variable names start with a lower-case letter, and Class names start with a capital letter.

In addition, there are a number of Python keywords that cannot be used as variable names. These keywords are:

    and, as, assert, break, class, continue, def, del, elif, else, except,
    exec, finally, for, from, global, if, import, in, is, lambda, not, or,
    pass, print, raise, return, try, while, with, yield

Note: Be aware of the keyword `lambda`, which could easily be a natural variable name in a scientific program. But being a keyword, it cannot be used as a variable name.

### Assignment



The assignment operator in Python is `=`. Python is a dynamically typed language, so we do not need to specify the type of a variable when we create one.

Assigning a value to a new variable creates the variable:

In [9]:
# variable assignments
x = 1.0
my_variable = 12.2

Although not explicitly specified, a variable does have a type associated with it. The type is derived from the value that was assigned to it.

In [10]:
type(x)

float

If we assign a new value to a variable, its type can change.

In [11]:
x = 1

In [12]:
type(x)

int

If we try to use a variable that has not yet been defined we get an `NameError`:

In [13]:
print(y)

NameError: name 'y' is not defined

### Fundamental types

In [14]:
# integers
x = 1
type(x)

int

In [15]:
# float
x = 1.0
type(x)

float

In [16]:
# boolean
b1 = True
b2 = False

type(b1)

bool

### Type casting

In [17]:
x = 1.5

print(x, type(x))

1.5 <class 'float'>

In [18]:
x = int(x)

print(x, type(x))

1 <class 'int'>

## Operators and comparisons

Most operators and comparisons in Python work as one would expect:

* Arithmetic operators `+`, `-`, `*`, `/`, `//` (integer division), `**` (power)

In [22]:
1 + 2, 1 - 2, 1 * 2, 3 // 2

(3, -1, 2, 1)

In [20]:
1.0 + 2.0, 1.0 - 2.0, 1.0 * 2.0, 1.0 / 2.0

(3.0, -1.0, 2.0, 0.5)

In [23]:
# Integer division of float numbers
3.0 // 2.0

1.0

In [24]:
# Note! The power operators in python isn't ^, but **
2 ** 2

4

Note: The `/` operator always performs a floating point division in Python 3.x.
This is not true in Python 2.x, where the result of `/` is always an integer if the operands are integers.
to be more specific, `1/2 = 0.5` (`float`) in Python 3.x, and `1/2 = 0` (`int`) in Python 2.x (but `1.0/2 = 0.5` in Python 2.x).

* The boolean operators are spelled out as the words `and`, `not`, `or`.

In [25]:
True and False

False

In [26]:
not False

True

In [27]:
True or False

True

* Comparison operators `>`, `<`, `>=` (greater or equal), `<=` (less or equal), `==` equality, `is` identical.

In [28]:
2 > 1, 2 < 1

(True, False)

In [29]:
2 > 2, 2 < 2

(False, False)

In [30]:
2 >= 2, 2 <= 2

(True, True)

In [31]:
# equality
[1,2] == [1,2]

True

In [32]:
# objects identical?
l1 = l2 = [1,2]

l1 is l2

True

## Compound types: Strings, List and dictionaries

### Strings

Strings are the variable type that is used for storing text messages.

In [33]:
s = "Hello world"
type(s)

str

In [34]:
# length of the string: the number of characters
len(s)

11

In [35]:
# replace a substring in a string with something else
s2 = s.replace("world", "test")
print(s2)

Hello test

We can index a character in a string using `[]`:

In [36]:
s[0]

'H'

**Heads up MATLAB users:** Indexing start at 0!

We can extract a part of a string using the syntax `[start:stop]`, which extracts characters between index `start` and `stop` -1 (the character at index `stop` is not included):

In [ ]:
s[0:5]

In [38]:
s[4:5]

'o'

If we omit either (or both) of `start` or `stop` from `[start:stop]`, the default is the beginning and the end of the string, respectively:

In [39]:
s[:5]

'Hello'

In [40]:
s[6:]

'world'

In [41]:
s[:]

'Hello world'

We can also define the step size using the syntax `[start:end:step]` (the default value for `step` is 1, as we saw above):

In [42]:
s[::1]

'Hello world'

In [43]:
s[::2]

'Hlowrd'

This technique is called *slicing*. Read more about the syntax here: http://docs.python.org/release/2.7.3/library/functions.html?highlight=slice#slice

Python has a very rich set of functions for text processing. See for example http://docs.python.org/2/library/string.html for more information.

#### String formatting examples

In [44]:
print("str1", "str2", "str3")  # The print statement concatenates strings with a space

str1 str2 str3

In [45]:
print("str1", 1.0, False, -1j)  # The print statements converts all arguments to strings

str1 1.0 False (-0-1j)

In [ ]:
print("str1" + "str2" + "str3") # strings added with + are concatenated without space

In [ ]:
print("value = %f" % 1.0)       # we can use C-style string formatting

In [ ]:
# this formatting creates a string
s2 = "value1 = %.2f. value2 = %d" % (3.1415, 1.5)

print(s2)

In [ ]:
# alternative, more intuitive way of formatting a string
s3 = 'value1 = {0}, value2 = {1}'.format(3.1415, 1.5)

print(s3)

### List

Lists are very similar to strings, except that each element can be of any type.

The syntax for creating lists in Python is `[...]`:

In [46]:
l = [1,2,3,4]

print(type(l))
print(l)

<class 'list'>
[1, 2, 3, 4]

We can use the same slicing techniques to manipulate lists as we could use on strings:

In [47]:
print(l)

print(l[1:3])

print(l[::2])

[1, 2, 3, 4]
[2, 3]
[1, 3]

**Heads up MATLAB users:** Indexing starts at 0!

In [48]:
l[0]

1

Elements in a list do not all have to be of the same type:

In [49]:
l = [1, 'a', 1.0, 1-1j]

print(l)

[1, 'a', 1.0, (1-1j)]

Python lists can be inhomogeneous and arbitrarily nested:

In [50]:
nested_list = [1, [2, [3, [4, [5]]]]]

nested_list

[1, [2, [3, [4, [5]]]]]

Lists play a very important role in Python. For example they are used in loops and other flow control structures (discussed below). There are a number of convenient functions for generating lists of various types, for example the `range` function:

In [51]:
start = 10
stop = 30
step = 2

range(start, stop, step)

range(10, 30, 2)

In [52]:
# in python 3 range generates an interator, which can be converted to a list using 'list(...)'.
# It has no effect in python 2
list(range(start, stop, step))

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [53]:
list(range(-10, 10))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [54]:
s

'Hello world'

In [55]:
# convert a string to a list by type casting:
s2 = list(s)

s2

['H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [56]:
# sorting lists
s2.sort()

print(s2)

[' ', 'H', 'd', 'e', 'l', 'l', 'l', 'o', 'o', 'r', 'w']

#### Adding, inserting, modifying, and removing elements from lists

In [67]:
# create a new empty list
l = []

# add an elements using `append`
l.append("A")
l.append("d")
l.append("d")

print(l)

['A', 'd', 'd']

We can modify lists by assigning new values to elements in the list. In technical jargon, lists are *mutable*.

In [68]:
l[1] = "p"
l[2] = "p"

print(l)

['A', 'p', 'p']

In [69]:
l[1:3] = ["d", "d"]

print(l)

['A', 'd', 'd']

Insert an element at an specific index using `insert`

In [73]:
l.insert(0, "i")
l.insert(1, "n")
l.insert(2, "s")
l.insert(3, "e")
l.insert(4, "r")
l.insert(5, "t")

print(l)

['i', 'n', 's', 'e', 'r', 't', 'i', 'n', 's', 'e', 'r', 't']

Remove first element with specific value using 'remove'

In [74]:
l.remove("A")

print(l)

ValueError: list.remove(x): x not in list

Remove an element at a specific location using `del`:

In [75]:

del l[6:]

print(l)

['i', 'n', 's', 'e', 'r', 't']

See `help(list)` for more details, or read the online documentation

### Tuples

Tuples are like lists, except that they cannot be modified once created, that is they are *immutable*.

In Python, tuples are created using the syntax `(..., ..., ...)`, or even `..., ...`:

In [76]:
point = (10, 20)

print(point, type(point))

(10, 20) <class 'tuple'>

In [77]:
point = 10, 20

print(point, type(point))

(10, 20) <class 'tuple'>

We can unpack a tuple by assigning it to a comma-separated list of variables:

In [78]:
x, y = point

print("x =", x)
print("y =", y)

x = 10
y = 20

If we try to assign a new value to an element in a tuple we get an error:

In [79]:
point[0] = 20

TypeError: 'tuple' object does not support item assignment

### Dictionaries

Dictionaries are also like lists, except that each element is a key-value pair. The syntax for dictionaries is `{key1 : value1, ...}`:

In [80]:
params = {"parameter1" : 1.0,
          "parameter2" : 2.0,
          "parameter3" : 3.0,}

print(type(params))
print(params)

<class 'dict'>
{'parameter1': 1.0, 'parameter2': 2.0, 'parameter3': 3.0}

In [81]:
print("parameter1 = " + str(params["parameter1"]))
print("parameter2 = " + str(params["parameter2"]))
print("parameter3 = " + str(params["parameter3"]))

parameter1 = 1.0
parameter2 = 2.0
parameter3 = 3.0

In [84]:
params["parameter1"] = "A"
params["parameter2"] = "B"
print(params["parameter3"] * 3)
# add a new entry
params["parameter4"] = "D"

print("parameter1 = " + str(params["parameter1"]))
print("parameter2 = " + str(params["parameter2"]))
print("parameter3 = " + str(params["parameter3"]))
print("parameter4 = " + str(params["parameter4"]))

9.0
parameter1 = A
parameter2 = B
parameter3 = 3.0
parameter4 = D

## Control Flow

### Conditional statements: if, elif, else

The Python syntax for conditional execution of code uses the keywords `if`, `elif` (else if), `else`:

In [85]:
statement1 = False
statement2 = False

if statement1:
    print("statement1 is True")

elif statement2:
    print("statement2 is True")

else:
    print("statement1 and statement2 are False")

statement1 and statement2 are False

For the first time, here we encounted a peculiar and unusual aspect of the Python programming language: Program blocks are defined by their indentation level.

Compare to the equivalent C code:

    if (statement1)
    {
        printf("statement1 is True\n");
    }
    else if (statement2)
    {
        printf("statement2 is True\n");
    }
    else
    {
        printf("statement1 and statement2 are False\n");
    }

In C blocks are defined by the enclosing curly brakets `{` and `}`. And the level of indentation (white space before the code statements) does not matter (completely optional).

But in Python, the extent of a code block is defined by the indentation level (usually a tab or say four white spaces). This means that we have to be careful to indent our code correctly, or else we will get syntax errors.

#### Examples:

In [86]:
statement1 = statement2 = True

if statement1:
    if statement2:
        print("both statement1 and statement2 are True")

both statement1 and statement2 are True

In [88]:
# Bad indentation!
if statement1:
    if statement2:
      print("both statement1 and statement2 are True")  # this line is not properly indented

both statement1 and statement2 are True

In [93]:
statement1 = False

if statement1:
  print("printed if statement1 is True")

print("still inside the if block")

still inside the if block

In [94]:
if statement1:
    print("printed if statement1 is True")

print("now outside the if block")

now outside the if block

## Loops

In Python, loops can be programmed in a number of different ways. The most common is the `for` loop, which is used together with iterable objects, such as lists. The basic syntax is:

### **`for` loops**:

In [95]:
for x in [1,2,3]:
    print(x)

1
2
3

The `for` loop iterates over the elements of the supplied list, and executes the containing block once for each element. Any kind of list can be used in the `for` loop. For example:

In [96]:
for x in range(4): # by default range start at 0
    print(x)

0
1
2
3

Note: `range(4)` does not include 4 !

In [97]:
for x in range(-3,3):
    print(x)

-3
-2
-1
0
1
2

In [98]:
for word in ["scientific", "computing", "with", "python"]:
    print(word)

scientific
computing
with
python

To iterate over key-value pairs of a dictionary:

In [99]:
for key, value in params.items():
    print(key + " = " + str(value))

parameter1 = A
parameter2 = B
parameter3 = 3.0
parameter4 = D

Sometimes it is useful to have access to the indices of the values when iterating over a list. We can use the `enumerate` function for this:

In [100]:
for idx, x in enumerate(range(-3,3)):
    print(idx, x)

0 -3
1 -2
2 -1
3 0
4 1
5 2

### List comprehensions: Creating lists using `for` loops:

A convenient and compact way to initialize lists:

In [101]:
l1 = [x**2 for x in range(0,5)]

print(l1)

[0, 1, 4, 9, 16]

## Functions

A function in Python is defined using the keyword `def`, followed by a function name, a signature within parentheses `()`, and a colon `:`. The following code, with one additional level of indentation, is the function body.

In [102]:
def func0():
    print("test")

In [103]:
func0()

test

Optionally, but highly recommended, we can define a so called "docstring", which is a description of the functions purpose and behaivor. The docstring should follow directly after the function definition, before the code in the function body.

In [104]:
def func1(s):
    """
    Print a string 's' and tell how many characters it has
    """

    print(s + " has " + str(len(s)) + " characters")

In [105]:
help(func1)

Help on function func1 in module __main__:

func1(s)
    Print a string 's' and tell how many characters it has

In [106]:
func1("test")

test has 4 characters

Functions that returns a value use the `return` keyword:

In [107]:
def square(x):
    """
    Return the square of x.
    """
    return x ** 2

In [108]:
square(4)

16

We can return multiple values from a function using tuples (see above):

In [109]:
def powers(x):
    """
    Return a few powers of x.
    """
    return x ** 2, x ** 3, x ** 4

In [110]:
powers(3)

(9, 27, 81)

In [111]:
x2, x3, x4 = powers(3)

print(x3)

27

### Default argument and keyword arguments

In a definition of a function, we can give default values to the arguments the function takes:

In [112]:
def myfunc(x, p=2, debug=False):
    if debug:
        print("evaluating myfunc for x = " + str(x) + " using exponent p = " + str(p))
    return x**p

If we don't provide a value of the `debug` argument when calling the the function `myfunc` it defaults to the value provided in the function definition:

In [113]:
myfunc(5)

25

In [114]:
myfunc(5, debug=True)

evaluating myfunc for x = 5 using exponent p = 2

25

If we explicitly list the name of the arguments in the function calls, they do not need to come in the same order as in the function definition. This is called *keyword* arguments, and is often very useful in functions that takes a lot of optional arguments.

In [115]:
myfunc(p=3, debug=True, x=7)

evaluating myfunc for x = 7 using exponent p = 3

343

### Unnamed functions (lambda function)

In Python we can also create unnamed functions, using the `lambda` keyword:

In [ ]:
f1 = lambda x: x**2

# is equivalent to

def f2(x):
    return x**2

In [ ]:
f1(2), f2(2)

This technique is useful for example when we want to pass a simple function as an argument to another function, like this:

In [ ]:
# map is a built-in python function
map(lambda x: x**2, range(-3,4))

In [ ]:
# in python 3 we can use `list(...)` to convert the iterator to an explicit list
list(map(lambda x: x**2, range(-3,4)))

## Classes

Classes are the key features of object-oriented programming. A class is a structure for representing an object and the operations that can be performed on the object.

In Python a class can contain *attributes* (variables) and *methods* (functions).

A class is defined almost like a function, but using the `class` keyword, and the class definition usually contains a number of class method definitions (a function in a class).

* Each class method should have an argument `self` as its first argument. This object is a self-reference.

* Some class method names have special meaning, for example:

    * `__init__`: The name of the method that is invoked when the object is first created.
    * `__str__` : A method that is invoked when a simple string representation of the class is needed, as for example when printed.
    * There are many more, see http://docs.python.org/2/reference/datamodel.html#special-method-names

In [ ]:
class Point:
    """
    Simple class for representing a point in a Cartesian coordinate system.
    """

    def __init__(self, x, y):
        """
        Create a new Point at x, y.
        """
        self.x = x
        self.y = y

    def translate(self, dx, dy):
        """
        Translate the point by dx and dy in the x and y direction.
        """
        self.x += dx
        self.y += dy

    def __str__(self):
        return("Point at [%f, %f]" % (self.x, self.y))

To create a new instance of a class:

In [ ]:
p1 = Point(0, 0) # this will invoke the __init__ method in the Point class

print(p1)         # this will invoke the __str__ method

To invoke a class method in the class instance `p`:

In [ ]:
p2 = Point(1, 1)

p1.translate(0.25, 1.5)

print(p1)
print(p2)

Note that calling class methods can modifiy the state of that particular class instance, but does not effect other class instances or any global variables.

That is one of the nice things about object-oriented design: code such as functions and related variables are grouped in separate and independent entities.

## Further reading

* http://www.python.org - The official web page of the Python programming language.
* http://www.python.org/dev/peps/pep-0008 - Style guide for Python programming. Highly recommended.
* http://www.greenteapress.com/thinkpython/ - A free book on Python programming.
* [Python Essential Reference](http://www.amazon.com/Python-Essential-Reference-4th-Edition/dp/0672329786) - A good reference book on Python programming.

## Versions

In [ ]:
%load_ext version_information

%version_information